.login-page-wrap {
  //background-color: #f9f9f9;
  .top-login {
    padding: 24px 47px 27px 0;
    img {
      margin-left: 22px;
    }
    .right-water {
      float: right;
    }
  }
  .box-out {
    background: url("../../images/login/bg.png") no-repeat top;
    background-size: 100% auto;
    position: absolute;
    top: 141px;
    left: 0;
    right: 0;
    bottom: 0;
    .box {
      position: relative;
      top:80px;
      p {
        text-align: center;
        font-size: 26px;
        font-family: 'cursive';
        margin-bottom: 1.4%;
        font-weight: bold;
        color: #888;
      }
    }
    .ant-row{
      margin-bottom:10px ;
    }
    .login-wrap {
      border: 1px #ccc solid;
      float: right;
      margin-right: 11%;
      background: #fff;
      .box-title{
        font-size:19px;
        font-weight:400;
        color:rgba(56,126,231,1);
        line-height:18px;
        .box-title-line{
          width:26px;
          height:5px;
          background:rgba(56,126,231,1);
          margin:5px 0  35px 0;
        }
      }
      .login-inner {
        width: 313px;
        padding: 20px 36px 29px  36px;
        box-shadow: 1px  0px 1px rgba(0,0,0,.3);
        .icon-change {
          font-size: 18px;
          color: rgba(0, 0, 0, .25);
        }
        .ant-input {
          padding-left: 42px !important;
        }
        .code-img {
          height: 32px;
          float: right;
        }
        .code-input {
          width: 140px;
        }
      }
      .loginBtn {
        width: 100%;
        background: #0F80CE;
        color: #fff;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        border-radius:4px;
        margin-top: 20px;
      }
    }
  }
}
